Repository moneysavvyio/esims-project, changes with the labels that .github/labeler.yml gives for each.
All labels: ROUTER, TOKEN, LIB, INGEST, DEDUPLICATE

feat: notify donors of diffrent emails about the duplication removal.
  deduplicate/deduplicate/main.py
  lib/esimslib/airtable/constants.py
  lib/esimslib/airtable/models.py
Labels: LIB, DEDUPLICATE

feat: notify donor when original submission is not from a donor
  deduplicate/deduplicate/constants.py
  deduplicate/deduplicate/main.py
Labels: DEDUPLICATE

chore: update mypy config
  mypy.ini
Labels: none

feat: link duplicate donation to original donation.
  deduplicate/deduplicate/main.py
  lib/esimslib/airtable/constants.py
  lib/esimslib/airtable/models.py
Labels: LIB, DEDUPLICATE

fix: mark all duplicates, differentiate different emails.
  deduplicate/deduplicate/main.py
  lib/esimslib/airtable/constants.py
  lib/esimslib/airtable/models.py
Labels: LIB, DEDUPLICATE

feat: capture duplicates from stocked eSIMs
  deduplicate/deduplicate/constants.py
  deduplicate/deduplicate/main.py
Labels: DEDUPLICATE

fix: set a TTL for esims ingest state.
  esimsrouter/esims_router/constants.py
  esimsrouter/esims_router/main.py
Labels: ROUTER

chore: update dev requirements
  dev-requirements.txt
Labels: none

refactor: move qr code detector to utils
  ingestesims/ingest_esims/validate_donation.py
  lib/esimslib/airtable/__init__.py
  lib/esimslib/util/__init__.py
  lib/esimslib/util/constants.py
  lib/esimslib/util/qr_code_detector.py
  lib/setup.cfg
Labels: LIB, INGEST

chore: update requirements
  deduplicate/constraints.txt
  deduplicate/requirements.txt
  deduplicate/test-requirements.txt
  esimsrouter/constraints.txt
  esimsrouter/requirements.txt
  esimsrouter/test-requirements.txt
  ingestesims/constraints.txt
  ingestesims/requirements.in
  ingestesims/requirements.txt
  ingestesims/test-requirements.txt
  lib/test-requirements.txt
  refreshdropbox/constraints.txt
  refreshdropbox/requirements.txt
  refreshdropbox/test-requirements.txt
Labels: ROUTER, TOKEN, LIB, INGEST, DEDUPLICATE

refactor: add QR detector constants
  lib/esimslib/util/constants.py
Labels: LIB

refactor: remove unnecessary decoding that requires encoding.
  ingestesims/ingest_esims/validate_donation.py
  lib/esimslib/util/constants.py
  lib/esimslib/util/qr_code_detector.py
Labels: LIB, INGEST

refactor: remove unused constant
  ingestesims/ingest_esims/constants.py
Labels: INGEST

refactor: hash the qr code string in the detector
  ingestesims/ingest_esims/validate_donation.py
  lib/esimslib/util/qr_code_detector.py
Labels: LIB, INGEST

feat: validate ingested stocked eSIM
  esimsrouter/esims_router/constants.py
  esimsrouter/esims_router/main.py
Labels: ROUTER

feat: validate the QR code is of an eSIM regardless of the provider.
  esimsrouter/esims_router/constants.py
  esimsrouter/esims_router/main.py
  ingestesims/ingest_esims/constants.py
  ingestesims/ingest_esims/validate_donation.py
Labels: ROUTER, INGEST

feat: notify slack when stocking fails
  esimsrouter/esims_router/main.py
  lib/esimslib/airtable/constants.py
  lib/esimslib/airtable/models.py
Labels: ROUTER, LIB

fix: add qr detector requirements to all docker files
  deduplicate/Dockerfile
  esimsrouter/Dockerfile
  refreshdropbox/Dockerfile
Labels: ROUTER, TOKEN, DEDUPLICATE

fix: router TTL
  esimsrouter/esims_router/constants.py
  esimsrouter/esims_router/main.py
Labels: ROUTER

.github/labeler.yml:

# Add 'ROUTER' label to any change within the esimsrouter/** files within source dir
ROUTER:
  - esimsrouter/*
  - esimsrouter/**/*

# Add 'TOKEN' label to any change within the refreshdropbox/** files within source dir
TOKEN:
  - refreshdropbox/*
  - refreshdropbox/**/*

# Add 'LIB' label to any change within the lib/** files within source dir
LIB:
  - lib/*
  - lib/**/*

# Add 'INGEST' label to any change within the ingestesims/** files within source dir
INGEST:
  - ingestesims/*
  - ingestesims/**/*

# Add 'DEDUPLICATE' label to any change within the deduplicate/** files within source dir
DEDUPLICATE:
  - deduplicate/*
  - deduplicate/**/*
